@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

.contact-top {
  color: ivory;
  font-size: 18px;
  text-align: center;
}

.about {
  color: ivory;
  font-size: 18px;
  padding-left: 2.5em;
}

.subtitle {
  color: ivory;
  text-align: left;
  font-size: 14px;
}

.body-text {
  color: ivory;
  font-size: 18px;
  line-height: 1.2em;
  padding-left: 2.5em;
}

body {
  font-family: "Source Code Pro", monospace;
  background: linear-gradient(to bottom, #002 0%, #212 100vh);
  margin: 10px auto;
  max-width: 700px;
  padding: 10px;
}

a:link,
a:visited {
  color: #f012be;
}

hr {
  width: 25%;
  text-align: left;
  margin-left: 0;
}
