@import url(https://fonts.googleapis.com/css?family=Inconsolata|Fira+Mono);

.title {
	font-size: 50px;
	font-weight: 50;
	font-family: 'Inconsolata', sans-serif;
	opacity: 1;
	color: #2974DD;
  margin-bottom: 0.2em;
  text-align: center;
}

.intro {
  font-family: Fira+Mono;
  font-size: 18px;
  line-height: .5;
  text-align: center;
}
  
.subtitle {
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 50;
}

body {
  line-height: 1.2;
  font-size: 18px;
  margin: 10px auto;
  max-width: 700px;
}

piece-title,
.piece-title {
  font-family:'Fira+Mono', sans-serif;   
  font-size: 18px;  
  line-height: .5;
  background-color: rgba(0, 0, 0, 0.04);
}
  
.indent{
  padding-left: 2.5em;
}
   
hr {
  display: block;
  height: 1px;
  border-top: 1px solid #9A231A;
}
  
a:link,a:visited {
  color: #9A231A;
}

 